header {
  font-size: 3rem;
  font-weight: 800;
  position: absolute;
  top: 0;
  z-index: -2;
  color: #ffffff99;
}

$line: 2px solid black;
@mixin bg {
  background-color: transparent;
}

code {
  font-family: var(--mono-font);
}

input {
  @include bg;
  font-family: var(--mono-font);
  width: 7ch;
  border: none;
  border-bottom: $line;
  font-size: 1rem;
  padding: 0.5rem;
  &:focus {
    background-color: white;
  }
}

section {
  padding: 10vh 1rem 1rem;
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 1rem;
  align-content: flex-start;
  &>*{
    justify-self: center;
  }
}

h2.big {
  font-family: var(--mono-font);
  writing-mode: vertical-lr;
  font-size: 3rem;
  margin: 0.5rem;
}

p {
  line-height: 1.41428;
}

.content {
  margin: 2rem;
  display: flex;
}

button {
  @include bg;
  border: $line;
  font-size: 1rem;
  padding: 0.5rem;
  width: max-content;
}