header {
  font-size: 3rem;
  font-weight: 800;
  position: absolute;
  top: 0;
  z-index: -2;
  color: #ffffff99;
}

main {
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 1rem;
}

input {
  font-family: var(--mono-font);
  width: 7ch;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  font-size: 1rem;
  padding: 0.5rem;
}

input:focus {
  background-color: white;
}

button {
  background: transparent;
  border: 2px solid black;
  font-size: 1rem;
  padding: 0.5rem;
}