:root {
  --main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  --mono-font: "Roboto Mono", var(--main-font);
  --background-color: tomato;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  background: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: grid;
  background: dodgerblue;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  width: 100%;
}